@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  line-height: 30px;
  font-size: 15px;
}

.container {
  position: relative;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
  max-width: 1070px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.opened {
  right: 0px;
}

.full_link {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 4;
}

/*---------------------------------------------------*/
/*	 NAVIGATION
/*---------------------------------------------------*/

.nav ul li.active > a {
  color: #000 !important;
}

@media (max-width: 1200px) {
  .topbar {
    display: block !important;
  }

  .leftpart {
    display: none;
  }
}

/*---------------------------------------------------*/
/*	 MAIN CONTENT
/*---------------------------------------------------*/

@media (max-width: 1200px) {
  .rightpart {
    padding-left: 0px;
  }
}

/*---------------------------------------------------*/
/*	 SCREEN SIZES
/*---------------------------------------------------*/

@media (max-width: 1600px) {
  .leftpart {
    width: 350px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .rightpart {
    padding-left: 350px;
  }

  .container {
    max-width: 968px;
  }

  .home .gaudi {
    min-height: 250px;
    min-width: 250px;
  }
}

@media (max-width: 1200px) {
  .rightpart {
    padding-left: 0px;
  }
}

@media (max-width: 1040px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .home .gaudi {
    min-height: 250px;
    min-width: 250px;
  }

  .home .gaudi {
    margin-bottom: 30px;
  }

  .home .home_content {
    flex-direction: column;
    text-align: center;
  }

  .home .details {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .home .gaudi {
    min-height: 200px;
    min-width: 200px;
  }
}

.image-morph {
  animation: morph 8s ease-in-out infinite 1s;
  background-blend-mode: multiply;
  -webkit-box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, 0.3);
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
